<h1>Ejercicio 5</h1>

<form method="post">
    <div>
        <label for="day">Día: </label>
        <input type="text" name="day" />
    </div>
    <div style="padding-top : 25px">
        <button type="submit">Submit</button>
    </div>
</form>

<h1>@ViewBag.msg</h1>