<h1>Ejercicios</h1>

<ul>
    <li><a href="Ejercicios/Ej01">Ejercicio 01</a></li>
    <li><a href="Ejercicios/Ej02">Ejercicio 02</a></li>
    <li><a href="Ejercicios/Ej03">Ejercicio 03</a></li>
    <li><a href="Ejercicios/Ej04">Ejercicio 04</a></li>
    <li><a href="Ejercicios/Ej05">Ejercicio 05</a></li>
</ul>