<h1>Ejercicio 02</h1>

<form method="post">
    <div>
        <label for="name">Name: </label>
        <input type="text" name="name" />
    </div>
    <div>
        <label for="city">City: </label>
        <input type="text" name="city" />
    </div>
    <div style="padding-top : 25px">
        <button type="submit">Submit</button>
    </div>
</form>

<h1>@ViewBag.msg</h1>