<h1>Ejercicio 03</h1>

<form method="post">
    <div>
        <label for="name">Name: </label>
        <input type="text" name="name" />
    </div>
    <div>
        <label for="age">Age: </label>
        <input type="number" name="age" />
    </div>
    <div style="padding-top : 25px">
        <button type="submit">Submit</button>
    </div>
</form>

<h1>@ViewBag.msg</h1>