<h1>Ejercicio 04</h1>

<form method="post">
    <div>
        <label for="x">X: </label>
        <input type="number" name="x" />
    </div>
    <div>
        <label for="y">Y: </label>
        <input type="number" name="y" />
    </div>
    <div style="padding-top : 25px">
        <button type="submit">Submit</button>
    </div>
</form>

<h1>@ViewBag.msg</h1>
