<div class="row">

    <div class="col-sm-4"></div>

    <div class="col-sm-4">
        <form action="/users/create" method="post">
            <div class="form-group">
                <label for="Username">Username:</label>
                <input type="text" class="form-control" id="Username" name="Username">
            </div>
            <div class="form-group">
                <label for="Password">Password:</label>
                <input type="text" class="form-control" id="Password" name="Password">
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
        @if (ViewBag.msg != null)
        {
            if (ViewBag.error == null)
            {
                @Html.Partial("SuccessMsg")
            }
            else
            {
                @Html.Partial("ErrorMsg")
            }
        }

    </div>

    <div class="col-sm-4"></div>

</div>