@model Services.Dtos.UserDto

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <table class="table table-striped">
            <tr>
                <th>User</th>
                <th>Password</th>
            </tr>
            <tr>
                <td>@Model.Username</td>
                <td>@Model.Password</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4"></div>
</div>