<div class="row" style="padding-top : 5%">
    <div class="col-sm-5"></div>
    <div class="col-sm-4">
        <form action="/home/create" method="post">

            <div class="form-group">
                <label for="CustomerID">ID: </label>
                    <input class="form-control" type="text" required name="CustomerID" id="CustomerID" />
                </div>

                <div class="form-group">
                    <label for="ContactName">Name: </label>
                    <input class="form-control" type="text" name="ContactName" id="ContactName" />
                </div>

                <div class="form-group">
                    <label for="ContactTitle">Title: </label>
                    <input class="form-control" type="text" name="ContactTitle" id="ContactTitle" />
                </div>

                <div class="form-group">
                    <label for="CompanyName">Company: </label>
                    <input class="form-control" type="text" required name="CompanyName" id="CompanyName" />
                </div>

                <div class="form-group">
                    <label for="Address">Address: </label>
                    <input class="form-control" type="text" name="Address" id="Address" />
                </div>

                <div class="form-group">
                    <label for="City">City: </label>
                    <input class="form-control" type="text" name="City" id="City" />
                </div>

                <div class="form-group">
                    <label for="Region">Region: </label>
                    <input class="form-control" type="text" name="Region" id="Region" />
                </div>

                <div class="form-group">
                    <label for="PostalCode">Postal code: </label>
                    <input class="form-control" type="text" name="PostalCode" id="PostalCode" />
                </div>

                <div class="form-group">
                    <label for="Country">Country: </label>
                    <input class="form-control" type="text" name="Country" id="Country" />
                </div>

                <div class="form-group">
                    <label for="Phone">Phone: </label>
                    <input class="form-control" type="text" name="Phone" id="Phone" />
                </div>

                <div class="form-group">
                    <label for="Fax">Fax: </label>
                    <input class="form-control" type="text" name="Fax" id="Fax" />
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
</div>